.bx-prev, .bx-next {
    transition: 0s !important;
}
.bx-next {
    background: url(https://gigaplus.makeshop.jp/orenoec1/images/icon/slider_next.png)!important;
    background-size: contain!important;
    width: 56px!important;
    height: 56px!important;
		margin-top: 0!important;
		top: calc(50% - 50px)!important;
}
.bx-prev {
    background: url(https://gigaplus.makeshop.jp/orenoec1/images/icon/slider_prev.png)!important;
    background-size: contain!important;
    width: 56px!important;
    height: 56px!important;
		margin-top: 0!important;
		top: calc(50% - 50px)!important;
}
.contents {
    padding: 52px 0px 0px;
}
.bx-viewport{
    overflow: visible !important;
    width: 720px !important; /* スライド画像の横幅 */
    margin: 0 auto;
}
#wrap .bx-prev{
    left: 50% !important;
    margin-left:-376px; /*（スライド画像の横幅÷2）+（矢印画像の横幅÷2） */
}
#wrap .bx-next{
    right: 50% !important;
    margin-right:-376px; /*（スライド画像の横幅÷2）+（矢印画像の横幅÷2） */
}
#M_slider {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
	/*margin: 0 7.8125vw;*/
}
#M_slider2 {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
	margin: 0 7.8125vw;
}
.main-visual li {
    width: 720px !important;
    float: unset !important;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0;
}
.bx-pager {
	position: initial !important;
	padding-top: 32px !important;
}
@media screen and (min-width: 1281px) {
	#M_slider2 {
		margin: 0 100px;
	}
}
@media screen and (max-width: 1024px) {
	/* .bx-wrapper{
		overflow: hidden;
	} */
	.main-visual {
		margin: 0px auto;
		padding-top: 116px;
	}
	.contents {
			padding: 48px 0px;
	}
	.bx-viewport{
		overflow: visible !important;
		width: 85.07vw !important; /* スライド画像の横幅 */
		margin: 0 auto;
	}
    #M_slider {
        gap: 12px;
			padding-left: 12px;
			margin: 0;
    }
    #M_slider2 {
        gap: 12px;
			padding-left: 12px;
			margin: 0;
    }
    .main-visual li {
        width: 85.07vw !important;
    }
	#wrap .bx-prev{
		left: 50% !important;
		margin-left:-175.5px; /*（スライド画像の横幅÷2）+（矢印画像の横幅÷2） */
	}
	#wrap .bx-next{
		right: 50% !important;
		margin-right:-175.5px; /*（スライド画像の横幅÷2）+（矢印画像の横幅÷2） */
	}
	.bx-controls-direction {
		display: none;
	}
	.bx-pager {
		padding-top: 0 !important;
	}
}
.slider_area {
    width: 100%;
    margin: 56px auto 0;
    max-height: 152px;
    overflow: hidden;
}
.slider-img-mgn {
	margin: 0 4px;
}
.slick-slide img {
    margin-left: 0px;
}
.slick-prev, .slick-next {
    width: 56px!important;
    height: 56px!important;
}
.slick-arrow:before{
    content:""!important;
    width: 56px!important;
    height: 56px!important;
    position: absolute;
    top: 0;
    left: 0;
}
.slick-next:after {
    content: none;
}
.slick-next:before{
    background: url(https://gigaplus.makeshop.jp/orenoec1/images/icon/slider_next.png)!important;
    background-size: contain!important;
    opacity: 1 !important;
}
.slick-prev:after {
    content: none;
}
.slick-prev:before{
    background: url(https://gigaplus.makeshop.jp/orenoec1/images/icon/slider_prev.png)!important;
    background-size: contain!important;
    opacity: 1 !important;
}
.slick-next {
    right: 8px !important;
}
.slick-prev {
    left: 8px !important;
}
.slick-slide img {
    width: 14.22vw;
    max-width: 184px;
    height: auto;
}


@media screen and (max-width: 1024px) {
	.slider_area {
        width: 100%;
        margin: 27px auto 0;
        max-height: unset;
	}
    .slick-slide img {
        width: 37.33vw;
        height: 37.33vw;
        max-width: none;
        object-fit: cover;
    }
}
.index-review-list {
  display: flex;
  flex-wrap: wrap;
  width: 1008px;
  margin: 32px auto 120px;
}
@media screen and (max-width: 1024px) {
	.index-review-list {
			width: 100%;
			margin: 32px auto 0;
	}
}
.index-review-list li .index-review-image {
    float: left;
}
.review-list-content-wrap {
    float: left;
}
.review-list-info-wrap {
    width: 168px;
}
.review-list-unit {
    width: 304px;
}
.index-review-list li {
    float: left;
}
.review-section {
    background-color: #f0f0f0;
    margin-top: 116px;
    padding: 40px 0 120px;

}
.main-section-contents {
    margin-top: 156px;
}
@media screen and (max-width: 1024px) {
	.review-section {
			background-color: #f0f0f0;
			margin-top: 48px;
			padding: 24px 16px;
	}
	.main-section-contents {
			margin-top: 48px;
	}
}
.favorite {
    position:absolute;
    bottom: -8px;
    right: 0;
}
.favorite a:after {
    margin-left: 0;
    font-size: 24px;
}
.price {
	font-size: 16px;
	margin-top: 8px;
}
.price span {
	font-size: 14px;
}
.main-section-title-en {
	font-size: 26px;
	font-weight: 400;
	line-height: 35.41px;
	text-align: center;
    margin: 0 7.81vw;
}
.main-section-title-jp {
	font-size: 16px;
	font-weight: 400;
	line-height: 22.99px;
	text-align: center;
	margin: 0 7.81vw 56px;
}
@media screen and (max-width: 1024px){
	.main-section-title-en {
		font-size: 20px;
		font-weight: 400;
		line-height: 35.41px;
		text-align: center;
			margin: 0 7.81vw;
	}
	.main-section-title-jp {
		margin-bottom: 26px;
		color: #666;
		font-size: 14px;
	}
}
.news-wrap dl dt a {
    display: flex;
    align-items: flex-start;
}
.news-list {
    margin: 0 2.5vw 0 4.21875vw;
}
.news-more {
    margin: 8px 2.5vw 0;
}
.news-more img {
	margin-left: 4px;
}
.news-date {
    min-width: auto;
    margin-right: 16px;
    word-break: keep-all;
}
.news-tag{
	width: auto;
	min-width: 90px;
	height: 20px;
	background: #B3B3B3;
	color: #fff;
	display: inline-block;
	text-align: center;
	line-height: 20px;
	border-radius: 4px;
	padding: 0 8px;
	font-size: 12px;
	margin-right: 16px;
	transition: 0s;
	margin-top: 2px;
}
.news-right-cont {
    vertical-align: sub;
}
@media screen and (max-width: 1024px) {
    .news-list li:first-child,
    .news-list li {
        padding: 0 0 30px 0;
    }
    .news-title span {
        width: max-content;
        display: block;
    }
    .news-wrap dl dt a {
        display: block;
    }
}


.first-cus-pc {
    width: auto;
    margin: 110px 5.625vw 0;
}
.first-cus-pc img {
    width: 100%;
    height: auto;
}
.first-cus-pc a {
    display: block;
}
.first-cus-sp {
    display: none;
}
@media screen and (min-width: 1281px) {
	.first-cus-pc {
			margin: 110px 72px 0;
	}
}
@media screen and (max-width: 1024px) {
	.first-cus-pc {
		 display: none;
	}
	.first-cus-sp {
		display: block;
		margin: 48px 12px 0;
	}
	.first-cus-sp a {
		display: block;
		line-height: 1;
	}
	.first-cus-sp a img {
		width: 100%;
		height: 144px;
		object-fit: cover;
	}
}
.review-list-tbl {
	width: 304px;
	margin-top: 32px;
	margin-right: 32px;
}
.review-list-tbl:nth-child(3n) {
	margin-right: 0px;
}
.review-list-tbl-td-image {
	width: 128px;
  height: 128px;
	padding-right: 8px;
}
.review-list-tbl-td-image-size {
	width: 128px;
  height: 128px;
}
@media screen and (max-width: 1024px) {
	.review-list-tbl {
		width: 100%;
		margin-top: 16px;
    margin-right: 0;
	}
	.review-list-tbl-td-image {
		width: 120px;
		padding-right: 8px;
	}
	.review-list-tbl-td-image-size {
		width: 128px; height: 128px;
	}
}
.review-list-tbl-td-name {
	vertical-align: top;
}
.review-list-name {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 8px;
}
.review-list-tbl-td-content {
	margin-top: 16px;
  font-size: 16px;
}
.review-list-content {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.column-pc {
    margin: 0 auto;
    padding: 0 7.81vw;
}
.item-list {
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 7.8125vw;
}
.item-list li {
    /*width: 100% !important;*/
    display: flex;
    flex-direction: column;
    margin-bottom: unset;
    margin-right: unset;
    position: unset;
		max-width: 176px;
}
@media screen and (min-width: 1281px) {
	.item-list {
			margin: 0 100px;
	}
}
@media screen and (max-width: 1024px) {
    .item-list {
      grid-template-columns: 1fr 1fr;
			gap: 30px 8px;
			margin: 0 12px;
    }
	.item-list li {
			width: 100% !important;
			max-width: unset;
		position: relative;
		display: flex;
		flex-direction: column;
	}
  .review-list-tbl-td-content {
    font-size: 14px;
  }
}
.ranking-item-list {
    /*margin: 0 7.81vw;
    gap: 43px;*/
    margin: 0 7.8125vw;
    gap: 0px;
}
.ranking-item-list li:nth-child(-n+3) {
    width: calc((100% - 86px ) / 3);
	max-width: 246px;
    /*width: 246px;*/
    /*margin: 0;*/
}
.ranking-item-list li:nth-child(n+4) {
    width: calc((100% - 120px ) / 4);
    max-width: 176px;
    /*margin: 0;*/
}
@media screen and (min-width: 1281px) {
	.ranking-item-list {
			margin: 0 100px;
	}
}
.newusr-trk {
	width: 304px;
	color: #dc3333;
	font-size: 14px;
	font-weight: 400;
	background-color: #f0f0f0;
	text-align: center;
	position: fixed;
	bottom: 40px;
	right: 0px;
	padding-bottom: 10px;
	z-index: 10;
    font-family: 'Noto Sans JP'
}
.newusr-trk span {
	font-weight: bold;
    font-family: 'Noto Sans JP'
}
.newusr-trk_diss {
	display: none;
}
.newusr-trk a {
	display: block;
	width: 240px;
	height: 40px;
	margin: 14px auto 4px;
	background-color: #000;
	border-radius: 4px;
	color: #fff;
	line-height: 40px;
	font-size: 14px;
	font-weight: 700;
}
@media screen and (max-width: 1024px) {
	.newusr-trk {
		width: 100%;
		border-top: 1px solid #000;
		background-color: #f0f0f0;
		color: #dc3333;
		font-size: 14px;
		font-weight: 400;
		text-align: center;
		position: fixed;
		bottom: 0px;
		right: 0px;
		z-index: 1;
		height: 85px;
	}
}



.newusr-trk {
	animation: SlideIn 1s;
}
@media screen and (max-width: 1024px) {
	.newusr-trk {
		animation: SlideIn-sp 1s;
	}
}

/* CSSアニメーションの設定 */
@keyframes SlideIn {
	0% {
		opacity: 1;/*初期状態*/
		transform: translateX(350px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes SlideIn-sp {
	0% {
		opacity: 1;/*初期状態*/
		transform: translateY(91px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}


.newusr-trk_dis {
	opacity: 0;
	animation: slide-out-anim 1s;
}
@media screen and (max-width: 1024px) {
	.newusr-trk_dis {
		animation: slide-out-anim-sp 1s;
	}
}
/* CSSアニメーションの設定 */
@keyframes slide-out-anim {
	0% {
		opacity: 1;/*初期状態では透明に*/
		transform: translateX(0);
	}
	100% {
		opacity: 1;
		transform: translateX(350px);
	}
}
@keyframes slide-out-anim-sp {
	0% {
		opacity: 1;/*初期状態では透明に*/
		transform: translateY(0);
	}
	100% {
		opacity: 1;
		transform: translateY(100px);
	}
}


@media screen and (max-width: 1024px) {
	.item-list-image a {
		/*position: relative;*/
	}

}
@media screen and (max-width: 1024px) {
	.ranking-icon {
		position: absolute;
		top: 0px;
		left: 0px;
		text-align: center;
		font-size: 20px;
		width: 28px;
		height: 28px;
		line-height: 28px;
		font-family: 'Noto Serif';
	}
}
/*@media screen and (max-width: 820px) {
	.ranking-icon {
		position: absolute;
		top: -382px;
		left: 0px;
		font-size: 1.1rem;
		width: 16.4%;
		height: 340%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
@media screen and (max-width: 768px) {
	.ranking-icon {
		position: absolute;
		top: -357px;
		left: 0px;
		font-size: 1.1rem;
		width: 16.4%;
		height: 317%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
@media screen and (max-width: 414px) {
	.ranking-icon {
		position: absolute;
		top: -180px;
		left: 0px;
		font-size: 1.1rem;
		width: 16.4%;
		height: 147.4%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
@media screen and (max-width: 390px) {
	.ranking-icon {
		position: absolute;
		top: -168px;
		left: 0px;
		font-size: 1.1rem;
		width: 16.4%;
		height: 147.4%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
@media screen and (max-width: 375px) {
	.ranking-icon {
		position: absolute;
		top: -160px;
		left: 0px;
		font-size: 1.1rem;
		width: 16.4%;
		height: 147.4%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}*/
.bx-wrapper .bx-pager.bx-default-pager a {
	background: #b3b3b3 !important;
	width: 8px !important;
	height: 8px !important;

}
.bx-wrapper .bx-pager.bx-default-pager a.active {
	opacity: 1 !important;
	background: #000 !important;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover {
	opacity: 1 !important;
	background: #b3b3b3 !important;
}
.news-date-tag {
  display: flex;
  align-items: baseline;
}

.instagram-content {
  padding: 120px 0 80px;
}
@media screen and (max-width: 1024px) {
  .instagram-content {
    width: calc(100% - 24px);
    padding: 48px 12px 160px;
  }
	.news-date {
		float: left;
	}
}

.review-area {
	display: grid;
	gap: 32px;
	grid-template-columns: 1fr 1fr 1fr;
	margin: 0 11.875vw;
}
.review-tbl {
	width: 100%;
}
.review-tbl-td-img {
	width: 128px;
	height: 128px;
}
.review-tbl-td-name {
	padding-left: 8px;
	vertical-align: top;
	font-size: 16px;
	font-weight: bold;
}
.review-tbl-td-name a {
	margin-bottom: 8px;
}
.review-tbl-td-con {
	vertical-align: top;
	padding-top: 16px;
	font-size: 16px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.review-list-tbl-td-image-size img {
	width: 100%;
}
@media screen and (max-width: 1024px) {
	.review-area {
		display: grid;
		gap: 32px;
		grid-template-columns: 1fr;
		margin: 0;
	}
	.review-tbl {
		width: 100%;
		max-width: unset;
	}
	.review-tbl-td-con {
		vertical-align: top;
		padding-top: 12px;
		font-size: 14px;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 3;
		overflow: hidden;
	}
	.review-tbl-td-name {
		padding-left: 8px;
		vertical-align: top;
		font-size: 14px;
		font-weight: bold;
	}
}
.news-sec {
	margin-top: 0;
}
.news-list-item {
	margin-bottom: 16px;
}
.top-review-area {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin: 0 11.875vw;
	gap: 80px 32px;
}
@media screen and (max-width: 1024px) {
	.top-review-area {
		grid-template-columns: 1fr;
		margin: 0 9.333333333vw;
		gap: 16px;
	}
}
.slick-slide a {
	position: relative;
}
.slider-cover-txt {
	width: 100%;
	position: absolute;
	bottom: 8px;
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: center;
	padding: 0 4px;
	box-sizing: border-box;
}
_:lang(x)+_:-webkit-full-screen-document, .slider-cover-txt {
  width: 184px;
}
.slider-cover {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #000;
	opacity: 0.3;
}
@media screen and (max-width: 1024px) {
	_:lang(x)+_:-webkit-full-screen-document, .slider-cover-txt {
		width: 382px;
	}
	.slider-cover-txt {
		font-size: 16px;
	}
}
@media screen and (max-width: 820px) {
	_:lang(x)+_:-webkit-full-screen-document, .slider-cover-txt {
		width: 306px;
	}
	.slider-cover-txt {
		font-size: 16px;
	}
}
@media screen and (max-width: 768px) {
	_:lang(x)+_:-webkit-full-screen-document, .slider-cover-txt {
		width: 287px;
	}
	.slider-cover-txt {
		font-size: 16px;
	}
}
@media screen and (max-width: 414px) {
	_:lang(x)+_:-webkit-full-screen-document, .slider-cover-txt {
		width: 154px;
	}
	.slider-cover-txt {
		font-size: 14px;
	}
}
@media screen and (max-width: 390px) {
	_:lang(x)+_:-webkit-full-screen-document, .slider-cover-txt {
		width: 145px;
	}
	.slider-cover-txt {
		font-size: 14px;
	}
}
@media screen and (max-width: 375px) {
	_:lang(x)+_:-webkit-full-screen-document, .slider-cover-txt {
		width: 140px;
	}
	.slider-cover-txt {
		font-size: 14px;
	}
}
@media screen and (max-width: 320px) {
	_:lang(x)+_:-webkit-full-screen-document, .slider-cover-txt {
		width: 119px;
	}
	.slider-cover-txt {
		font-size: 14px;
	}
}